@import url("observablehq:default.css");
@import url("observablehq:theme-parchment.css");
@import url("observablehq:theme-ink.css") (prefers-color-scheme: dark);

@import url("./styles/drawer.css");

body {
    max-width: 1200px;
}

#observablehq-footer {
    margin: 100px 0;
    & > nav {
        margin: 0 auto;
        width: 100%;
        max-width: unset;
        gap: 8em;
    }
}

a {
    text-decoration: underline;
}
